.navbar {
    display: none;
}

.navbar--footer {
    display: none;
}

.navbar ul{
    flex-direction: column;
}

.preview__text {
    width: 24rem;
    font-size: 16px;
    line-height: 37px;
}
.preview__button {
    flex-direction: column;
    align-items: center;
    width: 18rem;
}



.snow_1 {
    width: 25rem;
}

.content--text {
    margin: 2rem 2rem;
}


.boxs {
    margin-left: 0;
    margin-right: 0;
    margin: 1rem auto;
}


.redsec .line_1{
    display: none;
}

.redsec .line_2{
    display: none;
}

.snow_1 {
    width: 11rem;
}

.preview__text {
    width: 22rem;
    font-size: 14px;
}

.redsec h2 {
    font-size: 12px;
    margin: 1rem auto;
    line-height: 2rem;
}

.btn--white a {
    padding: 1rem 4rem;
    font-size: 11px;
    margin: 1rem auto;
}

.redsec {
    padding: 3rem 2rem 2rem 2rem;
}

