body {
    font-size: 10px;
}

.preview__text {
    width: 34rem;
    font-size: 23px;
    line-height: 43px;
}

.navbar {
    display: none;
}

/* .box {
    width: 10rem;
    font-size: 12px;
    padding: .4rem 2.4rem .4rem 0.7rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.box .num {
    font-size: 20px;
} */

.example__content {
    flex-wrap: wrap;
}

.boxs {
    margin-left: 2rem;
}

.content--text {
    margin-right: 1rem;
}

.dash_pro {
    width: 100%;
}

.dash_pro img {
    width: 100%;
}

.example__content img {
    height: 25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.menu__respo {
    display: block;
}
.service__cards {
    flex-direction: column;
    align-items: center;
}

#hamburger-button, #hamburger-sidebar, 
.hamburger-activated #hamburger-overlay{
    display: block;
}

.hamburger-activated #hamburger-sidebar {
    transform: translateX(0);
}